# Variables d'environnement - Cathedis Parc Informatique

# Base de données MySQL
DATABASE_URL="mysql://root:@localhost:3306/cathedis_parc"

# Auth.js
AUTH_SECRET="votre-secret-auth-generer-avec-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# SMTP (Email) - Gmail
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="saadouarrad5@gmail.com"
SMTP_PASS="ihckldrtbdbzltkq"
SMTP_FROM="Cathedis IT <saadouarrad5@gmail.com>"

# Application
NEXT_PUBLIC_APP_NAME="Cathedis - Parc Informatique"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
